@import "tailwindcss";

/* This tells Tailwind v4 to use the .dark class for dark mode */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

/* Optional: Define your theme variables here */
.dark {
  --background: #050505;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}